@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 320px;
  padding: 16px;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0 px 3px 15px rgba(0, 0, 0, 0.2);
}

.card > img {
  max-width: 100%;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  color: hsl(218, 44%, 22%);
}

.card > p {
  text-align: center;
  margin-bottom: 20px;
  color: hsl(220, 15%, 55%);
}
